.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  background: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
}
header h1{
  display: flex;
  align-items: center;
}
header nav{
  display: flex;
  align-items: center;
}
header img {
  display: flex;
  width: 50px; /* adjust the size of the thumbnail */
  height: 50px;
  border-radius: 50%; 
  margin-right: 20px; 
}
nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background: #f4f4f4;
  border-right: 1px solid #ccc;
  height: 100vh;
  overflow-y: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

main {
  flex: 3;
  padding: 20px;
}

section {
  margin: 20px 0;
}

footer {
  background: #282c34;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  color: #21a1f1;
}
